@model ViewModel
@{
    ViewData["Title"] = "";
}
<style>
    /* Стили для добавленной области */
    .extra-space {
        padding: 400px ; 
    }

    .visible {
        display: block !important; 
    }
</style>
<div class="container bg-dark pt-5">
    <div class="container bg-dark">
        <form class="form-inline my-lg-auto" method="post">
            <input class="form-control mr-sm-2 " input type="text" name="searchInput" id="searchInput" placeholder="Искать по названию услуги" aria-label="Search">
           
        </form>
    </div>

    <div id="mainContent" class="w-75 mt-5 align-items-center bg-dark" data-state=" @ViewData["State"]">
            
        @foreach (var item in Model.Service)
        {
            <a style="text-decoration: none" asp-area="" asp-controller="Appointment" asp-action="Index" asp-route-id="@item.Id">
                <div class="ml p-0 align-content-center">
                    <p class="textService">
                        @item.Name<br />
                        @item.Price р.
                    </p>
                    <div style="clear: both;"></div>
                    <br />
                </div>
            </a>
        }
    </div>
    
    <div id="searchResults" class="bg-dark"></div>
</div>
<div class="bg-dark extra-space">
    <!-- Ваша дополнительная область -->
</div>
<script src="~/js/SearchController.js"></script>
