@model ViewModel
@{
    ViewData["Title"] = "";
}
<style>
    /* Стили для добавленной области */
    .extra-space {
        padding: 400px ; /* Вертикальный отступ внутри области */
    }
</style>
<div class="container bg-dark pt-5">
    <div class="container bg-dark">
        <form class="form-inline my-lg-auto" method="post">
            <input class="form-control mr-sm-2 " input type="text" name="searchInput" id="searchInput" placeholder="Искать по названию услуги" aria-label="Search">
           
        </form>
    </div>
    <div id="searchResults" class="bg-dark"></div>

</div>
<div class="bg-dark extra-space">
    <!-- Ваша дополнительная область -->
</div>
<script src="~/js/SearchController.js"></script>
