@model LoginModel

@{
	ViewData["Title"] = "";
	Layout = null;
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="~/css/LoginAndRegistration.css" asp-append-version="true" />

<body class="bg-dark">
<div class="container d-flex justify-content-center align-items-center mt-5">
	<div class="container-fluid">

		<div class="col-md-4 offset-md-4">
			<div class="form-container">
				<div class="form-icon mt-2"><i class="fa fa-user"></i></div>
				<h3 class="title">Login</h3>
				@* <form class="form-horizontal">
					<div class="form-group">
						<label>Email:</label>
						<input class="form-control" type="email" placeholder="email address">
					</div>
					<div class="form-group">
						<label>Пароль:</label>
						<input class="form-control" type="password" placeholder="password">
					</div>
					<button type="button" class="btn btn-default">Войти</button>
						<div class="text-center mt-3">
							<a href="#" class="text-decoration-none">Забыли пароль?</a>
						</div>
						<div class="text-center mt-2">
							<p>Нет аккаунта? <a href="@Url.Action("Index", "Registration")" class="text-decoration-none ">Зарегистрироваться</a></p>
						</div>
				</form> *@
					<form class="form-horizontal" asp-action="Index" asp-controller="Login" asp-anti-forgery="true">
						<div class="validation" asp-validation-summary="ModelOnly"></div>
						<div>
							<div class="form-group">
								<label asp-for="Email">Введите Email</label>
								<input class="form-control" type="email" asp-for="Email" />
								<span asp-validation-for="Email" />
							</div>
							<div class="form-group">
								<label asp-for="Password">Введите пароль</label>
								<input class="form-control"  asp-for="Password" />
								<span asp-validation-for="Password" />
							</div>
							<div class="form-group">
								<input type="submit" value="Войти" class="btn btn-default" />
							</div>
							<div class="text-center mt-3">

							<a href="#" class="text-decoration-none">Забыли пароль?</a>
							</div>

							</div>
							<div class="text-center mt-2">
								<p>Нет аккаунта? <a href="@Url.Action("Index", "Registration")" class="text-decoration-none ">Зарегистрироваться</a></p>
							
						</div>
					</form>
			</div>
		</div>

	</div>
</div> 
</body>