.textService {
    color: #fff;
    font-size: 20px;
    font-family: 'Forum',Arial,sans-serif;
    display: inline;
}

.ml {
    margin-left: 25%;
    border: 2px solid transparent; 
    transition: border-color 0.3s, color 0.3s;
    margin-bottom: 0;
}

    .ml:hover {
        border-color: #da9471; 
        color: #da9471; 
    }

        .ml:hover p {
            color: #da9471; 
        }


